include FR3Py/interface_configs/*.yaml   FR3Py/assets
include FR3Py/assets/urdf/meshes/collision/*.stl
include FR3Py/assets/urdf/meshes/visual/*.mtl
include FR3Py/assets/urdf/meshes/visual/*.png
include FR3Py/assets/urdf/meshes/visual/*.obj
include FR3Py/assets/urdf/*.urdf
include FR3Py/assets/usd/*.usda
include FR3Py/assets/usd/materials/*.png
include FR3Py/sim/isaac/*.yaml